# API Principal (Autenticación, usuarios, etc.)
VITE_API_URL=http://127.0.0.1:8090

# API de Tickets y Administración (Servicio Oferta Boleto)
VITE_TICKET_API_URL=http://127.0.0.1:8050

# WebSocket para eventos en tiempo real (Admin)
VITE_WS_URL=ws://127.0.0.1:8050/api/admin/ws
